html {
    background-color: #121212;
    color: #fff;
    font-family: 'consolas', sans-serif
}

a {
    color: #fff
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    float: left;
}

.navbar ul li a {
    display: block;
    padding: 8px;
    background-color: #666;

    text-decoration: none;
    color:#fff
}

.navbar ul li a:visited {
    color:#fff
}

.navbar ul li a:hover {
    display: block;
    padding: 8px;
    background-color: rgb(124, 118, 118);
    text-decoration: none;
    color:#fff
}

.navbar ul li a:active {
    text-decoration: none;
    color:#fff
}

.navbar .activeNavbarElement {
    display: block;
    padding: 8px;
    background-color: rgb(150, 150, 150);
}

.navbar .activeNavbarElement:hover {
    display: block;
    padding: 8px;
    background-color: rgb(61, 61, 61);
}