div.guideList ul {
    list-style-type: none;
}

div.guideList ul li {
    padding: 25px;
    float: left;
    display: block;
    border: 1px solid white;
    background-color: rgb(73, 73, 73);
    margin: 5px;
}

div.guideList ul li p {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

p.small {
    font-size: 15px;
    font-style: italic;
}